.product .slick-track {
  display: flex !important;
}
.product .slick-slider {
  display: flex !important;
  align-items: center !important;
  margin: 0 auto !important;
}

.product .slick-slide {
  padding-right: 10px !important;
}

.product .slick-slide:last-child {
  padding-right: 0 !important;
}
.product .slick-slide img {
  display: block !important;
}

.product .slick-prev {
  width: 50px !important;
  left: 91% !important;
  top: -19% !important;
  position: absolute !important;
  height: 50px !important;
  background: #ddd !important;
  z-index: 1 !important;
  border-radius: 50% !important;
}

.product .slick-next {
  width: 50px !important;
  right: 0 !important;
  top: -19% !important;
  position: absolute !important;
  height: 50px !important;
  background: #ddd !important;
  z-index: 1 !important;
  border-radius: 50% !important;
}

.product .slick-prev:focus,
.product .slick-prev:hover,
.product .slick-next:hover,
.product .slick-next:focus {
  color: transparent !important;
  outline: none !important;
  background: #26ae60 !important;
}
.product .product-actions {
  display: flex !important;
  justify-content: space-between !important;
}
/* .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 100px;
    height: 100px;
    overflow: hidden;
  } */

/* Large desktop :1920px. */
@media (min-width: 1280px) {
}

/* Laptop Device :1366px. */
@media (min-width: 1200px) and (max-width: 1279px) {
}

/* Normal desktop :992px. */
@media (min-width: 1024px) and (max-width: 1200px) {
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 1023px) {
  .product .slick-prev {
    width: 40px !important;
    left: 88% !important;
    top: -15% !important;
    height: 40px !important;
  }
  .product .slick-next {
    width: 40px !important;
    right: 0px !important;
    top: -15% !important;
    height: 40px !important;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .product .slick-prev {
    width: 30px !important;
    left: 77% !important;
    top: -16% !important;
    position: absolute !important;
    height: 30px !important;
    background: #ddd !important;
    z-index: 1 !important;
    border-radius: 50% !important;
  }
  .product .slick-next {
    width: 30px !important;
    right: 20px !important;
    top: -16% !important;
    position: absolute !important;
    height: 30px !important;
    background: #ddd !important;
    z-index: 1 !important;
    border-radius: 50% !important;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* .product_view {
  position: absolute;
  top: 0;
  padding: 85px 100px;
  background: #000;
  text-align: center;
  opacity: 0.6;
  color: #fff;
  border-radius: 7px;
  height: 55%;
  width: 100%;
  display: none;
}

.product_title:hover .product_view {
  display: block !important;
} */
